.board {
  float:center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 65vh;
  margin: 20vh auto;
}
.game {
  display: none;
}

.box {
  border: 5px solid black;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
}

.upperLeft {
  border-top: none;
  border-left: none;
 }

.centerLeft {
  border-left: none;
  
}

.lowerLeft {
  border-left: none;
  border-bottom: none;
}

.lowerMid {
  border-bottom: none;
}

.upperMid {
  border-top: none;
}

.upperRight {
  border-top: none;
  border-right: none;
}

.centerRight {
  border-right: none;
}

.lowerRight {
  border-bottom: none;
  border-right: none;
}
