body {
  height: 100vh;
  background-image: linear-gradient(white, gray, white);
}

.board {
  float:center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 500px;
  margin: 20px auto;
  
}
.game {
  display: none;
}

.box {
  border: 5px solid black;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.upperLeft {
  border-top: none;
  border-left: none;
 }

.centerLeft {
  border-left: none;
  
}

.lowerLeft {
  border-left: none;
  border-bottom: none;
}

.lowerMid {
  border-bottom: none;
}

.upperMid {
  border-top: none;
}

.upperRight {
  border-top: none;
  border-right: none;
}

.centerRight {
  border-right: none;
}

.lowerRight {
  border-bottom: none;
  border-right: none;
}



input {
  border: 5px solid black;
  border-radius: 15%;
  color: #483D8B;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
}

.box {
  background-color: #A9A9A9;
}

#startGame {
  border: 3px solid black;
  border-radius: 10%;
  height: 10vh;
  width: 200px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 30vh;
  font-size: 100%;
  
}

#winCount {
  display:none;
  margin-left:15vh;
}
  
label {
  margin-top: 50px;
  margin-left: 5vh;
}

#winner {
  display:none;
  margin-left: 15vh;
  color: red;
  font-size: 3vh;
}

.game {
  margin-left: 10vh;
  margin-top: 10vh;
}

